<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <!-- <%= require('ejs-loader!./_meta.ejs')({ data: htmlWebpackPlugin.options }) %> -->
    <!-- <%= require('ejs-loader!./_favicons.ejs')() %> -->
</head>

<body>
  <script type="text/javascript">
  	window.ContributorsData = JSON.parse('<%= JSON.stringify(htmlWebpackPlugin.options.contributors) %>')
  </script>
  <%= require('ejs-loader!./_browserhappy.ejs')() %>
        
  <div id="mask" class="modal-mask" style="display: none;">
		<button id="btn-close" class="btn-close" onclick="closeMask()"><i class="icon"></i></button>
        	
    <%= require('ejs-loader!./starwall.ejs')() %>
    <%= require('ejs-loader!./authform.ejs')() %>
  </div>

  <div class="animated fadeIn gaday-page">
		<h1 class="title"> <%= `Thank you for making a difference with us`.toUpperCase() %></h1>
		<div class="contributor-info"></div>
		<div id="mosaic" class="mosaic-wrapper"></div>
		<div class="footer">
      <!-- TODO: change href for link -->
			<a href="#" class="link link-release"><i class="icon"></i>GA Release Notes</a>
	 			
      <div>
        <div class="legend">
          Less
          <span class="pixel-box level-0"></span>
          <span class="pixel-box level-1"></span>
          <span class="pixel-box level-2"></span>
          <span class="pixel-box level-3"></span>
          <span class="pixel-box level-4"></span>
          More
        </div>
        <button onclick="renderStarwall()" class="link link-intro"><i class="icon"></i>Time travel with TiDB again.</button>
      </div>
			
    </div>
  </div>
<!-- <%= require('ejs-loader!./_version.ejs')({ data: htmlWebpackPlugin.options }) %> -->
  <%= require('ejs-loader!./_analytics.ejs')({ data: htmlWebpackPlugin.options }) %>
</body>

</html>
